*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

body{
    background-image: url("./assets/Minimalist-HD-Backgrounds.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

h1{
    text-align: center;
    padding: 20px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100px;
    width: 400px;
    gap: 20px;
}

.wrapper div{
    border: 1px solid grey;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    align-content: center;
    justify-items: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.wrapper div:hover{
    transform: scale(1.05);
}

.wrapper h2{
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 35px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.wrapper li{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    color: aliceblue;
}

.wrapper button{
    border-radius: 10px;
    height: 35px;
    width: 100px;
    margin-left: 140px;
    margin-top: 10px;
    background-color: rgba(5, 98, 5, 0.764);
    border: none;
    transition: 0.3s;
}

.wrapper button:hover{
    transform: scale(1.05);
}

.wrapper a{
    color: aliceblue;
    text-decoration: none;
}




